@{
    ViewData["Title"] = "Home Page";
}


   



    <img src="https://whatfix.com/blog/wp-content/uploads/2022/01/claims-management-software.jpg" alt="Home Page Image" style="width:100%; height:auto;" />


    <style>
        body {
            background-color:lightblue;

    </style>
</div>
